In [1]:
import pandas as pd

In [127]:
df=pd.read_csv("train.csv", index_col=0, usecols=['Id','MSSubClass','MSZoning','LotFrontage','LotArea','Street'])

In [128]:
df.head()

    MSSubClass MSZoning  LotFrontage  LotArea Street
Id
1           60       RL         65.0     8450   Pave
2           20       RL         80.0     9600   Pave
3           60       RL         68.0    11250   Pave
4           70       RL         60.0     9550   Pave
5           60       RL         84.0    14260   Pave

In [9]:
type(df)

pandas.core.frame.DataFrame

In [20]:
data=('col1,col2,col3,col4\n'
     '1,2,3,4\n'
     '5,6,7,8\n')

In [21]:
type(data)

str

In [22]:
from io import StringIO

In [27]:
df1=pd.read_csv(StringIO(data))

In [28]:
df1.head()

   col1  col2  col3  col4
0     1     2     3     4
1     5     6     7     8

In [29]:
df2=pd.read_csv(StringIO(data), usecols=['col1','col2'])

In [30]:
df2.head()

   col1  col2
0     1     2
1     5     6

In [32]:
df=pd.read_csv("train.csv", usecols=['Id','MSSubClass','MSZoning','LotFrontage','LotArea','Street'])
df.head()

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street
0   1          60       RL         65.0     8450   Pave
1   2          20       RL         80.0     9600   Pave
2   3          60       RL         68.0    11250   Pave
3   4          70       RL         60.0     9550   Pave
4   5          60       RL         84.0    14260   Pave

In [35]:
df.to_csv('test.csv', index=False)

In [120]:
data1=('index,col2,col3,col4\n'
     '1,2,3,4\n'
     '5,6,7,8\n'
     '15,16,17,18\n')

In [121]:
data1=pd.read_csv(StringIO(data1), dtype={'index':int, 'col2':float, 'col3':object, 'col4':int}, index_col=0)

In [122]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col2    3 non-null      float64
 1   col3    3 non-null      object
 2   col4    3 non-null      int32
dtypes: float64(1), int32(1), object(1)
memory usage: 84.0+ bytes

In [123]:
data1.dtypes

col2    float64
col3     object
col4      int32
dtype: object

In [124]:
data1.head()

       col2 col3  col4
index
1       2.0    3     4
5       6.0    7     8
15     16.0   17    18